.super {
	background: #EEEEEE;
}

body {
    padding: 20px;
	color: #787A91;
	font-family: sans-serif;
}

input, select {
	margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #0F044C;
}

h1 {
    margin-top: 0;
    color: #0F044C;
    font-size: 25px
}

label {
    margin-bottom: 5px;
	font-size: 15px
}

button, .button {
	padding: 10px 20px;
    border-radius: 5px;
    background-color: #0F044C;
    border: 2px solid #0F044C;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.secondary-button {
    padding: 10px 20px;
    border-radius: 5px;
    color: #0F044C;
    font-size: 14px;
    border: 2px solid #0F044C;
    text-decoration: none;
    cursor: pointer;
}

.smaller {
    width: fit-content;
    padding: 5px;
    font-size: 14px;
}

a {
	color: #0F044C;
}

th {
    padding: 10px;
    background-color: #eee;
    color: #787A91;
}

td {
    padding: 5px;
}
