.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.wrapper {
    padding: 20px;
    border: 1px solid #0F044C;
    border-radius: 5px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;  
}

p {
    margin-bottom: 0;
}

@media (min-width: 575px) {
    .wrapper {
        width: 350px; 
    }
}